{% extends "layout.html" %} {% block title %}
<title>Tasks</title>
{% endblock title %} {% block mainheader %}
<!-- TASKS SECTION -->
<section class="tasks">
  <!-- tasks header -->
  <div class="tasks-header">
    <div class="title-search">
      <div class="tasks-title">
        <h2>My Tasks</h2>
        <p>Create and manage your tasks</p>
      </div>
      <div class="search-bar">
        <h3>Find a Task</h3>
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </div>

    <div class="notifications">
      <i class="fa-solid fa-comments"></i>
      <i class="fa-solid fa-bell"></i>
      <div class="profile">
        <img src="" alt="profile picture" />
        <h4>Hello person</h4>
      </div>
    </div>
  </div>
  <!-- TASKS BODY -->
  <div class="tasks-body">
    <!-- Top row -->
    <div class="tasks-top">
      <!-- pending -->
      <div class="pending"></div>
      <!-- calendar -->
      <div class="calendar"></div>
      <!-- priority & overdue -->
      <div class="priority-overdue">
        <div class="overdue"></div>
        <div class="priority">
          <h2>Priority</h2>
          <div class="color-code">
            <!-- high color code -->
            <div class="code">
              <h5>High</h5>
              <div class="purple1"></div>
            </div>
            <!-- medium color code -->
            <div class="code">
              <h5>Mid</h5>
              <div class="purple2"></div>
            </div>
            <!-- low color code -->
            <div class="code">
              <h5>Low</h5>
              <div class="purple3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bottom row -->
    <div class="tasks-bottom">
      <!-- Create task button -->
      <div class="create-task">
        <button onclick="openForm()">Create a Task +</button>
      </div>
      <!-- tasks list -->
      <div class="tasks-list">
        <!-- tasks columns -->
        {% for task in my_tasks %}
        <div class="one-task">
          <!-- title & update button -->
          <div class="title-update">
            <div class="task-title-{{ task.priority }}">
              {{ task.title }}
            </div>
            <div class="task-update">
              <button>UPDATE</button>
            </div>
          </div>
          <!-- progress bar -->
          <div class="progress-bar">
            <!-- <h5>Progress {{ task.progress }}</h5> -->
          </div>
          <!-- desc, due & completed -->
          <div class="desc-due-comp">
            {% for thing in task.todo %}
            <p>{{ thing }}</p>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Trigger button for the pop-up -->
  <!-- <button onclick="openForm()">Open Form</button> -->
  <!-- The pop-up form container -->
  <div class="overlay" id="overlay">
    <div class="form-container">
      <span class="close-btn" onclick="closeForm()">&times;</span>
      <form method="post" action="/">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Create Task</legend>
            <div>{{ form.title(class="change") }}</div>
            <div>{{ form.priority(class="change") }}</div>
            <div>{{ form.content(class="change") }}</div>
            <div>{{ form.date_due(class="change") }}
              {% if form.date_due.errors %}
                {% for error in form.date_due.errors %}
                  <span class="danger"> {{ error }} </span><br>
                {% endfor %}
              {% endif %}
            </div>
          </fieldset>
          <div class="add-button">{{ form.submit(class="submit") }}</div>
      </form>
    </div>
  </div>
  <script>
    // Function to open the pop-up form
    function openForm() {
      document.getElementById("overlay").style.display = "flex";
    }

    // Function to close the pop-up form
    function closeForm() {
      document.getElementById("overlay").style.display = "none";
    }
  </script>

</section>
{% endblock mainheader %} 
