<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/profile.css" />
    <link rel="stylesheet" href="../static/styles/dashboard.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Dashboard</title>
  </head>
  <body>
    <main>
      <!-- NAVIGATION BAR -->
      <section class="navbar">
        <!-- logo top left -->
        <div class="logo">
          <a href="./dashboard.html">
            <i class="fa-solid fa-otter"></i>
            <h3>RANGE</h3>
          </a>
        </div>
        <!-- navbar content -->
        <div class="nav-content">
          <!-- menu -->
          <div class="nav-sect">
            <!-- titles -->
            <div class="title">
              <h2>Menu</h2>
            </div>
            <!-- options to click -->
            <div class="nav-select">
              <div class="select">
                <a href="./dashboard.html">
                  <i class="fa-solid fa-chart-bar"></i>
                  <h3>Dashboard</h3>
                </a>
              </div>
              <div class="select">
                <a href="">
                  <i class="fa-solid fa-list-check"></i>
                  <h3>Tasks</h3>
                </a>
              </div>
              <div class="select">
                <a href="">
                  <i class="fa-solid fa-users"></i>
                  <h3>Teams</h3>
                </a>
              </div>
            </div>
          </div>
          <!-- preferences -->
          <div class="nav-sect">
            <!-- titles -->
            <div class="title">
              <h2>Preference</h2>
            </div>
            <!-- options to click -->
            <div class="nav-select">
              <div class="select">
                <a href="./profile.html">
                  <i class="fa-solid fa-user"></i>
                  <h3>My Profile</h3>
                </a>
              </div>
              <div class="select">
                <a href="./login.html">
                  <i class="fa-solid fa-right-from-bracket"></i>
                  <h3>Logout</h3>
                </a>
              </div>
            </div>
          </div>
          <!-- support -->
          <div class="nav-sect">
            <!-- titles -->
            <div class="title">
              <h2>Support</h2>
            </div>
            <!-- options to click -->
            <div class="nav-select">
              <div class="select">
                <a href="">
                  <i class="fa-solid fa-circle-question"></i>
                  <h3>Help & Support</h3>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- DASHBOARD SECTION -->
      <section class="dashboard">
        <!-- dashboard header -->
        <div class="dash-header">
          <div class="title-search">
            <div class="dash-title">
              <h2>My Dashboard</h2>
              <p>Welcome! See latest updates</p>
            </div>
            <div class="search-bar">
              <h3>search</h3>
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
          </div>

          <div class="notifications">
            <i class="fa-solid fa-comments"></i>
            <i class="fa-solid fa-bell"></i>
            <div class="profile">
              <img src="" alt="profile picture" />
              <h4>Hello person</h4>
            </div>
          </div>
        </div>
        <!-- dashboard body -->
        <div class="dash-body">
          <!-- dashboard top row -->
          <div class="dash-top">
            <!-- tasks progress -->
            <div class="dash-tasks">
              <h2>Tasks</h2>
              <div class="progress"></div>
            </div>
            <!-- team projects progress -->
            <div class="dash-collaborations">
              <h2>Projects</h2>
              <div class="progress"></div>
            </div>
            <!-- deadlines -->
            <div class="dash-deadlines">
              <h2>Deadlines</h2>
              <div class="progress"></div>
            </div>
          </div>
          <!-- dashboard bottom row -->
          <div class="dash-bottom">
            <!-- current task -->
            <div class="current-task">
              <h2>Current Task</h2>
              <div class="current-progress"></div>
            </div>
            <!-- current project -->
            <div class="current-project">
              <h2>Current Project</h2>
              <div class="current-progress"></div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
